# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yaml and/or the recipe/meta.yaml.

language: objective-c

env:
  matrix:
    
    - CONDA_PY=27
    - CONDA_PY=34
    - CONDA_PY=35
  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "SDmGHTyzP0/+kMyuztdcDkj+sHQbqLYHt+5ioJqAA2Y6qo4Z1xtrPPBiLbTHv1ZzlRGyzNaWuPqxbp3tH91zJfplFWFXcAbfP+S9SU/7+6CWGySfGMQS399+cWSWMdPhbaaw6T6yFKlsMZaQ2nr5lonGIH+pjjxQ8NJH7f4o4AwcS96kQVqkuodTvcykPzVhgO0aen5EZu91tb64rps40K0SHtnLdi+kJmS8S+GsEwxIHj8wJYBYEBEYN/eAxHNzAAnMM/u5YUW4hANKPEoBFFIXgRsdYy0PPGmuSwikQaprkyqoLDDoiFJ7fvclQFzpRSFjrfK68PvuimD9audzy3JqIwkLEUI3WXhfCDyfi22lLPKHvRj0ASxO8mdNyX8cBxdbMvkn/MD7G7BFGv/qAoavAnJjMpFsu9svetFnSwOWRdvUFgh8ak6B43Rx0VqotFK7l4muGtis0FeRQleNV/uDRXn+JsJ7OMBzsMU+TQvY9VjOzHWWWANhhtRjUGj69Ty3xdwFbJ8t60whew/xSpIW/T9ZV2P8y9VxbfqhN226mwjqSP/6ruvUoeOetPSrMjoKvVDCDakwWqws4pYBuJ2VCI12yzgwYRYyriWgDp1o1Rr8aE+7JYvlP3oiNmuHePDBCVOdnB4efq/eG5BexAAJSxVX+ff1vmtVCu7FlxM="


before_install:
    # Remove homebrew.
    - brew remove --force $(brew list)
    - brew cleanup -s
    - rm -rf $(brew --cache)

install:
    - |
      MINICONDA_URL="http://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

      export PATH=/Users/travis/miniconda3/bin:$PATH
      conda config --add channels conda-forge
      conda config --set show_channel_urls true
      conda install --yes --quiet conda-forge-build-setup
      source run_conda_forge_build_setup

script:
  - conda build ./recipe

after_success:

  - ./ci_support/upload_or_check_non_existence.py ./recipe conda-forge --channel=main
